* {
  margin: 0;
  padding: 0;
}

.new-task {
display: ;
}

.project-input {
  width: 50%;
}

.card-action {
  margin-bottom: 300px;
}

.padding {
  margin-bottom: 10px;
  width: 50%;
  display: block;
}